<h1>Contacts</h1>
    <%= link_to "Add Contact", new_contact_path%>
    <br />
    <br />
    <table>
        <tr>
            <th>Full Name</th>
            <th>Actions</th>
        </tr>
        <% @contact.each do |contact| %>
        <tr>
            <td><%="#{contact.first_name} #{contact.last_name}"%></td>
            <td><%= link_to "Details", contact_path(contact.id) %></td>
            <td><%= link_to "Edit", edit_contact_path(contact.id)%></td>
            <td><%= link_to "Delete", destroy_contact_path(contact.id), method: :delete, data:{confirm: "Are you sure you want to delete? #{contact.first_name}"} %></td>
        </tr>
        <% end %>
    </table>